[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
tf2onnx = "*"
onnxruntime = "*"
pillow = "*"
pillow-heif = "*"
opencv-python = "*"
colorama = "*"

[dev-packages]
ipykernel = "*"
